.days {
  padding: 0 27px 0 27px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 231px;
}

.day, .dayShift, .dayDisabled, .daySelected {
  width: 33px;
  padding: 5px 0;
  margin: 0;
  text-align: center;
  color: #65696D;
}

.daySelected {
  background-color: rgba(57,150,122, .3);
  border-radius: 10px;
}

.dayDisabled {
  opacity: .2;
}

.day:hover {
  background-color: rgba(57,150,122, .3);
  border-radius: 10px;
  cursor: pointer;
}
