/* add css module styles here (optional) */

.calendar {
  font-family: 'PT-Sans', sans-serif;
  color: red;
  width: 287px;
  height: 280px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.calendarHeader {
  padding: 24px 51px 16px 51px;
  display: flex;
  justify-content: space-between;
}

.arrowUp {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-135deg);
  position: absolute;
  top: 12px;
  right: 10px;
}

.arrowDown {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 12px;
  right: 10px;
}
